body {
    background-color: #33343D;
}

h3 {
    color: yellow;
}

#title {
    font-size: 5rem;
    color: yellow;
    text-align: center;
}
#refresh {
    text-align: center;
    color: yellow;
}
#players {
    text-align: center;
}

#status {
    text-align: center;
    color: yellow;
    margin-top: 282px;
}

.player1div {
    position: absolute;
    height: auto;
    width: 562px;
    margin-left: 170px;
}

.player2div {
    position: absolute;
    height: auto;
    width: 400px;
    margin-left: 544px;
    margin-bottom: 113px;
}